button{
    border: none;
    background-color: #fff;
    margin-left: 21px;
    margin-top: 15px;
}
#content{
    margin-left: 10px;
}
#playname{
    margin-left: 20px;
    margin-top: 10px;
}
#volume{
    margin-left:80px;
}
